.confection-container{

  .confections-container{
    background-color: $background-color;
    padding:10px;
    border-radius: $global-border-radius;
  }

  #confection_img_container{
    background-color: $background-color;
    padding:10px;
    border-radius: $global-border-radius;
  }

}
